body {
    font-family: Rubik, Tahoma, Verdana, sans-serif;
    color: #143642;;
    margin: 0 3em;
    background-color: #fef9ef;
}

p {
    text-align: justify;
}

.top-nav {
    text-align: center;
    align-items: center;
    max-width: 100%;

    padding: 1rem;
    background-color: #0F8B8D;   
}

.top-nav > div {
    display: inline-block;
    vertical-align: middle;
    margin: 1em 2em;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
}

.top-nav a:hover {
    font-weight: bold;
}

.top-nav a:active {
    color: #143642;
}

.intro {
    text-align: center;
}

.intro > h1 {
    font-size: 6em;
    line-height: 80%;
    font-weight: 800;
    color: #143642;

    padding-bottom: 0em;
    margin-bottom: 0em;
}

.intro > h3 {
    font-size: 1.5em;
    font-weight: 400;

    padding-top: 0em;
}

.intro, .songwriting, .favorite-music, p {
    margin: 0 3em;
    text-align: center;
}

.jumplink {
    text-align: center;
    padding: 1em;
}

.jumplink > h3 {
    font-size: 2em;
    font-weight: 500;
    padding:0.5em;
}

.jumplink > h4 {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 7rem;
}

.jumplink > div {
    display: inline-block;
    padding: 2em;
    margin: 1em;
    background-color: #143642;
    border-radius: 25px;
}

.jumplink > div:hover {
    box-shadow: 7px 7px 50px 15px #18495B inset;
}

.jumplink div > a {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1em 2em 1em;
}

.jumplink div > a:hover {
    font-weight: bold;
}

.jumplink div > a:active {
    color: #A1E3FF;
}

.songwriting .description > p{
    font-size: 1.25rem;
    text-indent: 4rem;
    text-align: justify;
}

.song {
    margin: 2rem;
}

.song {
    display: inline-block;
    max-width: 45%;
    vertical-align: top;
}

.song .song-desc > p {
    text-align: justify;
    text-indent: 4rem;
    margin: 1em;
    background-color: #FFC45E;
    color:#143642;
    padding: 2em;
    border-radius: 2em;
}

.audio {
    padding: 0.5em;
    border-radius: 2em;
    background-color: #0F8B8D;
}

.audio > h3 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
}

.audio > h4 {
    margin-top: 0.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
    color: #fef9ef;
}

.audio > audio {
    margin-bottom: 2em;
}

.song-desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.foreword {
    font-size: 1.5rem;
    margin-top: 3rem;
    
}
.foreword > p {
    margin: 2rem 7rem;
    text-align: justify;
    text-indent: 4rem;
    line-height: 1.75rem;
}

.foreword p > a {
    color: #143642;
}

.foreword p > a:active{
    font-weight: 700;
    color: #143642;
}


.genre {
    margin: 6rem 0;
}

.title > h2 {
    font-size: 3rem;
    font-weight: 900;
    background-color: #0F8B8D;
    padding: 1em;
    color: #fef9ef;
}

.genre > .description {
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 4rem;
    line-height: 2rem;
}

.artist {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
}

.audio a, .artist a {
    text-decoration: none;
    color: #fef9ef;
}

.audio a:hover, .artist a:hover {
    font-weight: 800;
    color: #fef9ef;
}

.audio a:active, .artist a:active {
    color: #FFCC75;
}

.artist-info {
    max-width: 45%;
    background-color: #FFC45E;
    padding: 3em;
    border-radius: 2em;
    color: #143642;
}

.artist-name > h3 {
    font-size: 3rem;
    margin: 1rem 0;
}

.artist-desc {
    text-align: justify;
    text-indent: 4rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.sample-music {
    float: right;
    max-width: 45%;
    height: auto;
    vertical-align: middle;
    background-color:#0F8B8D;
    padding: 2em;
    border-radius: 2em;
}

.sample-music > .title {
    font-size: 2rem;
    margin: 1rem 0;
}

.sample-music > audio {
    margin-top: 1rem;
}

a > img {
    max-width: 30%;
    min-width: 30%;

    height: auto;
    border-radius: 1em;
    margin: 1em;
    
    vertical-align: middle;
}

.return {
    text-align: center;
    font-size: 1.125em;
    padding: 2em 5em 2em;
}

.return > a:link, .return > a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #143642;
}

.return > a:hover {
    font-weight: 900;
}

.return > a:active {
    color: #0F8B8D;
}

.bot-nav {
    padding: 1em;
    background-color: #0F8B8D;
}

.bot-nav > div {
    margin: 1em 2em;
}

.bot-nav > div, .bot-nav div > a {
    display: inline-block;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.bot-nav a:hover {
    font-weight: bold;
}

.bot-nav a:active {
    color: #143642;
}

.copyright {
    float: right;
}