body {
    font-family: Rubik, Tahoma, Verdana, sans-serif;
    color: #000;
    margin-left: 7em;
    margin-right: 7em;
    background-color: #fef9ef;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2em;
    background-color: #0F8B8D;   
}

.top-nav > div {
    margin: 0 2em 0;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
}

.top-nav a:hover {
    font-weight: bold;
}

.top-nav a:active {
    color: #143642;
}

.intro {
    display: inline-block;
}

.text {
    float: left;
    padding: 3em;
    vertical-align: middle;
}

.text > h1 {
    font-size: 7em;
    line-height: 80%;
    font-weight: 800;
    color: #143642;
}

.text > h3 {
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    color: #0F8B8D;
    margin-top: -1em;
}

.intro > img {
    float: right;
    max-width: 41%;
    height: auto;
    padding: 0em 3em 0em;
}

.bot-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 2em 0.75em 2em;
    background-color: #0F8B8D;
}

.bot-nav > div, .bot-nav div > a {
    color: #fff;
    text-decoration: none;
}

.bot-nav a:hover {
    font-weight: bold;
}

.bot-nav a:active {
    color: #143642;
}

.copyright {
    text-align: right;
    width: 60%;
    align-items: flex-end;
}

