body {
    background-color: #FFFFF3;
    font-family: Rubik, Tahoma, Verdana, sans-serif;
}

#name {
    color: #2E294E;
    font-weight: 800;
    font-size: 4em;
}

#application-position {
    color: #55828B;
    font-weight: 600;
    font-size: 2em;
    margin-top: -1.5em;
}

#objective {
    text-align: justify;
    text-indent: 4em;
    padding-left: 10em;
    padding-right: 10em;
    font-size: 1.5em;
}

#contact {
    font-style: oblique;
    text-align: center;
    margin-top: -1.75em;
}

#update {
    color: #B8336A;
    font-size: 0.875em;
    padding-top: 5em;
    padding-left: 3em;
}

div.header, div.description, div.skills, div.reference {
    text-align: center;
}

div.work, div.education, div.seminars {
    padding-left: 30em;
    padding-right: 30em;
}

h2.titles {
    font-size: 1.75em;
    text-align: center;
    background-color: #55868C;
    color: #FFFFF3;
    margin-left: 5em;
    margin-right: 5em;
}

li.skill-titles {
    color: #2E294E;
    font-size: 1.25em;
    list-style-position: inside;
    font-weight: 700;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
}

p.position-name, p.education-level, p.seminar-name {
    margin-top: -1em;
    font-size: 1.25em;
}

p.workplace-name, p.work-duration, p.work-address, p.school-name, p.school-duration, p.school-address, p.seminar-speaker, p.seminar-date {
    margin-top: -1.125em;
}

ul.takeaways {
    line-height: 1.5em;
}

ul.technical-skill, ul.tools, ul.soft-skill, ul.courses {
    text-align: justify;
    list-style-position: inside;
    padding-left: 30em;
    padding-right: 30em;
}

ul.technical-skill {
    list-style-image: url(resume_technical_bullet.png);
}

ul.tools {
    list-style-image: url(resume_bullet.png);
}

ul.soft-skill {
    list-style-image: url(resume_soft_bullet.png);
}

ul.courses {
    list-style-image: url(resume_courses_bullet.png);
}